#admin_page {
  position: relative;
}
#admin_page #content {
  padding-top: 35px;
  min-height: auto;
  /* edit form */
}
#admin_page #content div.table_container {
  position: relative;
}
#admin_page #content div.table_container div.results_header {

  text-shadow: white 0 1px 0;
  border: solid 1px #d4d4d4;
  border-top-color: #e6e6e6;
  border-bottom-color: #EEE;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 40px;
  padding-right: 10px;
  color: #5e6469;
  position: relative;
  z-index: 800;
  margin-bottom: 3px;
  padding: 6px 0;
}
#admin_page #content div.table_container div.results_header h2 {
  padding: 0 15px;
  display: inline-block;
  vertical-align: middle;
}
#admin_page #content div.table_container div.results_header div.actions {
  position: absolute;
  top: 8px;
  right: 9px;
}
#admin_page #content div.table_container div.results_header div.actions a,
#admin_page #content div.table_container div.results_header div.actions input {
  display: inline-block;
  padding: 7px 13px;
  margin: 0;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: none;
}
#admin_page #content div.table_container div.results_header div.actions a:hover,
#admin_page #content div.table_container div.results_header div.actions input:hover,
#admin_page #content div.table_container div.results_header div.actions a:focus,
#admin_page #content div.table_container div.results_header div.actions input:focus {
  /* W3C */

  /* IE6-9 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#818181', endColorstr='#646464', GradientType=0);
}
#admin_page #content div.table_container div.results_header div.actions a:active,
#admin_page #content div.table_container div.results_header div.actions input:active {
  -moz-box-shadow: inset 0 5px 7px 1px #666666, 0 1px 2px #777777;
  -webkit-box-shadow: inset 0 5px 7px 1px #666666, 0 1px 2px #777777;
  box-shadow: inset 0 5px 7px 1px #666666, 0 1px 2px #777777;
}
#admin_page #content div.table_container div.results_header div.action_message {
  text-align: right;
  margin-left: 500px;
  padding-bottom: 10px;
  margin-right: 12px;
}
#admin_page #content div.table_container div.page_container {
  background: #efefef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* FF3.6+ */

  /* Chrome,Safari4+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfe1e2), color-stop(100%, #dfe1e2));
  background: -webkit-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* IE10+ */

  background: linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* W3C */

  /* IE6-9 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#818181', endColorstr='#646464', GradientType=0);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  text-shadow: white 0 1px 0;
  border: solid 1px #d4d4d4;
  border-top-color: #e6e6e6;
  border-bottom-color: #EEE;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 18px;
  color: #5e6469;
  position: relative;
  z-index: 801;
  margin-bottom: 3px;
  padding: 5px 0;
}
#admin_page #content div.table_container div.page_container div.paginator {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
}
#admin_page #content div.table_container div.page_container div.paginator input {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
}
#admin_page #content div.table_container div.page_container div.paginator input[type=text] {
  width: 30px;
}
#admin_page #content div.table_container div.page_container div.per_page {
  vertical-align: middle;
  position: absolute;
  right: 15px;
  top: 5px;
  overflow: hidden;
}
#admin_page #content div.table_container div.page_container div.per_page input {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  border: none;
}
#admin_page #content div.table_container div.page_container div.per_page input[type=hidden] {
  width: 70px;
}
#admin_page #content div.table_container div.table_scrollable {
  width: 100%;
  overflow-x: auto;
}
#admin_page #content div.table_container table.results {
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  border-spacing: 0;
}
#admin_page #content div.table_container table.results th {
  background: #efefef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* FF3.6+ */

  /* Chrome,Safari4+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfe1e2), color-stop(100%, #dfe1e2));
  background: -webkit-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* IE10+ */

  background: linear-gradient(top, #efefef 0%, #dfe1e2 100%);
  /* W3C */

  /* IE6-9 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#818181', endColorstr='#646464', GradientType=0);
  text-shadow: white 0 1px 0;
  border: solid 1px #d4d4d4;
  border-top-color: #e6e6e6;
  border-bottom-color: #cdcdcd;
  border-right: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #ffffff inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #ffffff inset;
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #ffffff inset;
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #ffffff inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 0 1px #ffffff inset;
  font-weight: bold;
  line-height: 18px;
  color: #5e6469;
  padding: 5px 12px 3px 12px;
  text-align: left;
}
#admin_page #content div.table_container table.results th div {
  color: #5e6469;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#admin_page #content div.table_container table.results th.sortable {
  cursor: pointer;
}
#admin_page #content div.table_container table.results th.sortable div {
  background: url("../img/orderable.png") no-repeat 0 4px;
  padding-left: 13px;
  cursor: pointer;
}
#admin_page #content div.table_container table.results th.sorted-asc,
#admin_page #content div.table_container table.results th.sorted-desc {
  background: #e2e2e2;
  /* Old browsers */

  background: -moz-linear-gradient(top, #e2e2e2 0%, #d2d4d6 100%);
  /* FF3.6+ */

  /* Chrome,Safari4+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d4d6), color-stop(100%, #d2d4d6));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #d2d4d6 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #e2e2e2 0%, #d2d4d6 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #e2e2e2 0%, #d2d4d6 100%);
  /* IE10+ */

  background: linear-gradient(top, #e2e2e2 0%, #d2d4d6 100%);
  /* W3C */

  /* IE6-9 */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#818181', endColorstr='#646464', GradientType=0);
}
#admin_page #content div.table_container table.results th.sorted-asc div {
  background-position: 0 -27px;
}
#admin_page #content div.table_container table.results th.sorted-desc div {
  background-position: 0 -56px;
}
#admin_page #content div.table_container table.results th:last-child {
  border-right: solid 1px #d4d4d4;
}
#admin_page #content div.table_container table.results tr.result {
  cursor: pointer;
}
#admin_page #content div.table_container table.results tr.result td {
  padding: 10px 12px 8px 12px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: top;
}
#admin_page #content div.table_container table.results tr.result.even td {
  background: #f4f5f5;
}
#admin_page #content div.table_container table.results tr.result.selected td {
  background: #d9e4ec;
}
#admin_page #content div.table_container table.results tr.result:hover {
  outline: 1px solid #ddd;
}
#admin_page #content div.table_container div.loading_rows {
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.50;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: progid:dximagetransform.microsoft.alpha(opacity=50);
  filter: alpha(opacity=50);
  text-align: center;
}
#admin_page #content div.table_container div.loading_rows > div {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 35px;
  text-shadow: #000 1px 1px 1px;
}
#admin_page #content div.table_container div.no_results {
  position: absolute;
  top: 180px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#admin_page #content div.table_container div.no_results > div {
  color: #444;
  font-size: 28px;
  text-shadow: #ddd 1px 1px 1px;
}
#admin_page #content div.item_edit_container {
  position: absolute;
  top: 35px;
  bottom: 0;
  right: 0;
  width: 285px;
  /* overflow: hidden; */
}
#admin_page #content div.item_edit_container div.item_edit {
  position: relative;
/*  padding-top: 25px;
  padding-left: 27px;*/
  background: #D9E4EC;
  /*min-height: 430px;*/
  width: 258px;
  -moz-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
  margin-left: 2px;
  margin-bottom: 2px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form {
  color: #444;
  text-shadow: white 0 1px 0;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form a.item_link {
  position: absolute;
  top: 38px;
  right: 41px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div {
  margin-bottom: 15px;
  position: relative;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div div.loader {
  position: absolute;
  top: 26px;
  left: -21px;
  width: 16px;
  height: 16px;
  background: url(../img/loader.gif) no-repeat;
  zoom: 1;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div p.description {
  width: 90%;
  margin: 0 0 7px 2px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div p.description_below {
  width: 90%;
  margin: 2px 0 0 2px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div select,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div textarea,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div input {
  margin-bottom: 0;
  vertical-align: top;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div input[type="text"]{
  max-width: none !important;
  width: 100% !important;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div textarea {
  width: 98%;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div select,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div input[type=hidden],
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div .select2-container {
  width: 100% !important;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div div.characters_left {
  position: absolute;
  top: 1px;
  right: 40px;
  font-size: 11px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.number span.symbol {
  position: absolute;
  top: 27px;
  left: -15px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.key label,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.bool label {
  display: inline-block;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div div.uneditable {
  margin-right: 32px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div div.uneditable p {
  margin-bottom: 7px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.markdown {
  padding-bottom: 10px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.markdown div.markdown_container {
  position: relative;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.markdown div.markdown_container div.preview {
  display: inline-block;
  margin-left: 10px;
  height: 100%;
  vertical-align: top;
  overflow-y: auto;
  padding: 4px 0 5px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.markdown div.markdown_container div.preview p {
  margin-bottom: 7px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.markdown div.markdown_container textarea {
  height: 100%;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.upload_container,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.upload_container {
  padding: 4px 0;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.upload_container div.uploader,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.upload_container div.uploader {
  background: url(../img/upload.png) no-repeat;
  padding-left: 25px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.upload_container div.plupload,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.upload_container div.plupload {
  width: 100% !important;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.image_container,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.image_container {
  position: relative;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.image_container input[type=button],
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.image_container input[type=button] {
  position: absolute;
  top: 5px;
  right: -5px;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.file_container a,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.file_container a,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.file_container input,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.file_container input {
  vertical-align: middle;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.image div.file_container a,
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.file div.file_container a {
  display: inline-block;
  max-width: 83%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form > div.color div.color_preview {
  height: 8px;
  margin: 0 33px 0 1px;
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form div.control_buttons {
  text-align: center;
}
#admin_page #content div.item_edit_container div.item_edit form.edit_form div.control_buttons span.message {
  display: block;
  margin: 10px 30px 0 3px;
}
#admin_page #content div.item_edit_container div.item_edit div.loading {
  position: absolute;
  top: 200px;
  left: 50%;
  font-size: 20px;
  margin-left: -36px;
}
.lw-colorpicker {
  z-index: 807;
}
.select2-search input {
  width: 100% !important;
}
/* media queries */
/**
 * Media queries
 */


.dataTables_wrapper .row{
  margin-right: 2px;
  margin-left: 2px;
}

.box-header .with-border .box-title h2{
  margin-bottom: 0px;
}

.sidebar_section .box-body{
  padding-left: 30px;
  padding-right: 30px;
}

div.filters > input[type=text]{
  width: 100%;
}

.filter_input{
  width: 100%;
}


/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
