/*Custom Markitup*/
.markItUp {
    width: 100% !important;
}

.markItUpEditor {
    width: 100% !important;
}

.bootstrap-tagsinput {
    width: 100% !important;
}

.dataTables_length {
    float: left;
}

div.dataTables_wrapper div.dataTables_info {
    clear: both;
    padding-top: 8px;
    white-space: nowrap;
}

.form-group.has-error .select2-selection,
.form-group.has-error .panel {
    border-color: #a94442;
    box-shadow: none;
    border-radius: 4px;
}

.form-group.has-success .select2-selection,
.form-group.has-sucess .panel {
    border-color: #3c763d;
    box-shadow: none;
    border-radius: 4px;
}

.form-group .select2-hidden-accessible .form-control-feedback {
    right: 25px;
}

.has-success .select2-selection {
  border-color: #3c763d !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}


.has-success .select2-selection:focus {
  border-color: #2b542c !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}

.has-success .cke_1.cke_chrome {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #3c763d !important;
}

.has-error .cke_1.cke_chrome {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #a94442 !important;
}
.select2.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-left: 12px;
  padding-right: 12px;
}
.selectContainer .form-control-feedback {
    right: 25px !important;
    top: -2px;
}

.cke_1.cke_chrome {
    display: block;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}

.sidebar-menu li > a >.fa-angle-left {
  -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.btn-success,
.btn-sd-default {
  color: #fff;
  background-color: #287BAE;
  border-color: #287BAE;
  font-size: 13px;
  font-weight: 600;
  min-width: 44px;
  margin-bottom: 5px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:hover,
.btn-success:active:focus,
.btn-sd-default:hover,
.btn-sd-default:focus,
.btn-sd-default:active,
.btn-sd-default:active:hover,
.btn-sd-default:active:focus {
  color: #fff;
  background-color: #287BAE;
  border-color: #287BAE;
}

.thumbnail {
  max-width: 125px;
  max-height: 125px;
}
.has-error .selectize-input {
  border-color: #a94442;
  box-shadow: none;
  border-radius: 4px;
}
.has-success .selectize-input {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}
